---
layout: archive
title: "Prospective students"
permalink: /students/
author_profile: true
---

<article>
  <p>
    <h2>Open positions</h2>
    I am accepting <b>applications</b> from prospective students that are enrolled at TUM. I am currently open to supervise:

    <ol>
      <li>B.Sc./M.Sc. theses</li>
      <li>Clinical application projects (i.e. "KAPs") for CS students with a minor in medicine</li>
      <li>Interdisciplinary projects (i.e. "IDPs") for CS students</li>
      <li>Application projects as part of our "Advanced Practical Course Deep Learning for Audio, Speech, and Language" (IN2106, IN40017) which currently takes place every semester</li>
      <li>Research stays (w/o credits)</li>
    </ol>

    I am also open to supervise external students that want to do a research stay at TUM (e.g. as part of their Erasmus+ placement).

    <h2>Application process</h2>

    Before applying, you should carefully read the list of available topics below, as well as have a look at my previous publications. This will give you an idea of what I'm working on.
    You can also read the blog in this website for some more informal thoughts.

    Keep in mind that the description of topics is quite high-level. There are two reasons for this:
    <ol>
      <li>I don't put my ideas for free on the Internet.</li>
      <li>I allow for more than 1 student to work on a particular topic. This means that we adapt each topic based on my availability and your interests.</li>
    </ol>
    In order to apply, you should send me an email with the following content:
    <ol>
      <li>"&#91;Work@CHI&#93;" as the tag preceeding your subject line (e.g. "&#91;Work@CHI&#93; Deep reinforcement learning for audio"). This will let my filter place your message in the appropriate folder automatically</li>
      <li>An up-to-date CV and academic transcripts</li>
      <li>Your motivation for working on this particular problem, your previous experience, and any original ideas you have on the topic</li>
    </ol>
    <h2>Unsolicited applications</h2>
    I will also consider unsolicited applications for any topics related to my research interests but not directly mentioned below.
    <h2>After the application</h2>
    Expect to hear from me within a couple of weeks (unless on vacation or travelling). If I'm interested, we'll have a few exchanges through email and eventually schedule a call. It is during that call that we will define your topic in more detail.
    <h2>Working together</h2>
    <ol>
      <li>Long, friendly rants on things I'm passionate about</li>
      <li>(Oftentimes) lots of code to get you started</li>
      <li>Fast response times</li>
      <li>Weekly sync (either chatting or calling, sometimes on-site too)</li>
      <li>(Experimental) weekly group meetings with all students I'm supervising each semester</li>
    </ol>
    <h2>Using GenAI for writing your mail</h2>
    <b>Strongly discouraged!</b> If I wanted to work with an LLM, I would buy the pro version of one. I want to work with you, so I care about what <i>you</i> have to say.
  </p>
</article>

<h2>Thesis topics</h2><hr />

{% include base_path %}
{% for post in site.theses %}
   {% include archive-single.html %}
{% endfor %}
